
.flexiforms-captcha-config {
	max-width: 500px;
	min-width: 66.6%;
	width: 100%;
}

.flexiforms-captcha-credentials {
  align-items: center;
  display: inline-flex;
}

.flexiforms-captcha-fields {
	display: flex;
  flex-flow: row nowrap;
}

.flexiforms-field-alias {
	flex-basis: 20%;
}

.flexiforms-field-details {
	flex-basis: 40%;
}

.flexiforms-captcha-field {
  display: flex;
	flex-flow: column nowrap;
  margin-right: 8px;
}

.flexiforms-captcha-input {
	width: 100%;
}

.flexiforms-controls {
  display: flex;
  margin: 24px 0 0;
}